              <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                              
                <%= form_for( @perguntum ) do |f| %>
                  <% if @perguntum.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@perguntum.errors.count, "error") %> prohibited this perguntum from being saved:</h2>

                      <ul>
                      <% @perguntum.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="field">
                    <%= f.label :titulo %><br />
                    <%= f.text_field :titulo %>
                  </div>
                  <div class="field">
                    <%= f.label :descricao %><br />
                    <%= f.text_area :descricao,:value=>"descricao",:rows => 5, :cols => 100 ,:class=>"span5"%>

                  </div>

                  <!--campo de TIPO -->
                   <div class="field">
                      <%= f.hidden_field :tipo,:id =>"btn-input-tipo", :value =>  1 %>
                    </div>

                    <label>Tipo</label>


                  

                      <div class="btn-group " data-toggle="buttons-radio" id="tipo_resposta">
                        <button type="button" class="btn" value="1" >
                          Resposta Aberta
                        </button>

                        <button type="button" class="btn" value="5" >
                          Area de Texto
                        </button>

                        <button type="button" class="btn" value="2" >
                         Checkbox
                          
                        </button>

                        <button type="button" class="btn " value="3" >
                          ComboBox
                        </button>
                        <button type="button" class="btn " value="4">
                          Radio Box
                        </button>



                    </div>
                    <br> <br>
                    <div id="opcoes">
                               <input type="hidden" name="count" value="1" />
                                <div class="control-group" id="fields">
                                 <label class="control-label" for="field1">Opções(Tem de ter pelo menos uma)</label>
                                 <div class="controls" id="profs"> 
                                   <div class="input-append">
                                     <input  class="option" id="field1" name="perguntum[opcoes][1]" type="text" placeholder="Opção1" />
                                     <button id="b1" onClick="addFormField()" class="btn btn-info" type="button">+</button>
                                   </div>
                                   <br /><small>Press + to add another form field :)</small>
                                 </div>
                               </div>
                              </div>
                    </div>


                  <!-- END -->

                  <div class="field">
                      <%= check_box_tag :add_top %>
                       Adicionar ao topo do Formulário
                  </div>
                  <div class="field">
                    
                    <%= f.hidden_field :comite_id,value:current_comite.id %>
                  </div>

                  <div class="field">
                    <%= f.hidden_field :activa, :checked=>true %>
                  </div>

                 <%#render "pergunta_forms/form" %>

                
                <% end %>
      
      
          <label>Opções</label>
            <div class="btn-group" data-toggle="buttons-toggle">
          <button type="button" class="btn " >Incluir</button>
         
          <button type="button" class="btn " >Adicionar ao Formulário Estágio</button>
          <button type="button" class="btn " >Adicionar ao Formulário Membros</button>
        </div>

         
        <br> 
    


