<h1>Listing candidatos</h1>
<div class="container-fluid">
      <div class="well">
        <table class="table table-striped">
          <tr>
            <th>Nome</th>
            <th>Telemovel</th>
            <th>Data nascimento</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Recrutamento</th>
            <th></th>
          </tr>

        <% @recrutamento.candidatos.each do |candidato| %>
          <tr>
            <td><%= candidato.nome %></td>
            <td><%= candidato.telemovel %></td>
            <td><%= candidato.data_nascimento %></td>
            <td><%= candidato.email %></td>
            
            <td><%= tipoToString( candidato.tipo ) %></td>
            <td><%= candidato.recrutamento_id %></td>
            <td><%= link_to 'Show', candidato %></td>
          </tr>
        <% end %>
        </table>
        <br />
    </div>
</div>