<div class="header">
        <h1 class="page-title">Recrutamentos</h1>
</div>
<ul class="breadcrumb">
              <li><a href="index.html">Home</a> <span class="divider">/</span></li>
              <li class="active">Recrutamentos</li>
 </ul>
 <br>

<div class="container-fluid">     
   <form id="tab">
      <div class="well">

        <% if @recr_activo.nil? %>
          <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            
           Não existe nenhum recrutamento activo!!
          </div>
        <% else %>

              <label>Recrutamento Activo <%= @recr_activo.id %>
                <h4>Iniciado há <%= time_ago_in_words(@recr_activo.created_at) %></h4>
                <div class="ver">
                  <%= link_to "Ver", recrutamento_path(@recr_activo.id) ,:class=>'btn'%> 
                </div>
                
              </label>

              <div class="stats_right1">
                <div class="span4">
                          <div class="header-data">

                              <!-- Traffic data -->
                              <div class="hdata">
                                <div class="mcol-left">
                                  <!-- Icon with red background -->
                                  <i class="icon-user bblue"></i> 

                                </div>
                                <div class="mcol-right">
                                  <!-- Number of visitors -->
                                  <p><%= @recr_activo.candidatos.count %> <em>Candidatos </em></p>

                                </div>
                                <div class="clearfix"></div>
                              </div>

                              <!-- Members data -->
                              <div class="hdata">
                                <div class="mcol-left">
                                  <!-- Icon with blue background -->

                                  <i class="icon-th-list bgreen"></i> 
                                </div>
                                <div class="mcol-right">
                                  <!-- Number of visitors -->
                                  <p><%= @recr_activo.formulario.pergunta_forms.count %>  <em>Perguntas </em></p>

                                </div>
                                <div class="clearfix"></div>
                              </div>
                         </div>
                       </div>
                    </div>

             
              <table class="table">
                    <thead>
                      <tr>
                        <th>Insrciçoes</th>
                        <th>Recrutamento</th>
                        <th>Inscrições</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= current_comite.nome %></td>
                        <td>
                          <a href="#myModal" data-toggle="modal"> <span title="Alterar Estado" class="label label-success">Aberto</span></a>
                        </td>

                        <td>
                          <% if @recr_activo.inscricao_activa == true %>
                               <span title="Alterar Estado" class="label label-success">Abertas</span>

                          <% else %>
                              <a href="#myModal" data-toggle="modal"> <span class="label label-important">Fechadas</span>
                              </a>

                          <% end %>
                       </td>
                      </tr>
                    </tbody>
              </table>
        <% end %>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="well">
        <table class="table">
         <thead>
          <tr>
            <th>Data de Início</th>
            <th>Tipo</th>
            <th>Nº de candidatos</th>
            <th>Nº de perguntas Formulário</th>
            <th></th>
          </tr>
        </thead>
        <% @recrutamentos.each do |r| %>
          <% if r.id != @recr_activo.id %>
            <tr>
              <td><b><%= l r.created_at %></b>  (<%= time_ago_in_words(r.created_at) %>)</td>
              <td><%= tipoToString( r.tipo ) %></td>
              <td><%= r.candidatos.count %></td>
              <td><%= r.formulario.pergunta_forms.count %></td>
              <!--
              <td>
                <% #if r.finished_at.nil? 
                   #    "Não terminado"
                   # else
                   #    l r.finished_at
                   # end
                %>-->
              </td>
               <td><%= link_to 'Show', r %></td>
            </tr>
         <% end %>
        <% end %>
        </table>
        <br />
    </div>
  </div>
</div>

