<div class="header">
     <h1 class="page-title"><h1>Recrutamento <%= tipoToString( @recrutamento.tipo ) %></h1>

</h1>
</div>

<ul class="breadcrumb">
              <li><a href="index.html">Home</a> <span class="divider">/</span></li>
              <li class="active">Recrutamento</li>
</ul>

        
<h3> Criado há <%=  time_ago_in_words(@recrutamento.created_at)  %> </h3>
<p>
  <b>Inicio: </b>
  <%= @recrutamento.created_at %><P>
  <b>Estado</b> : <%= @recrutamento.estado %><p>

  <b>Pertence ao Comite </b><%= @recrutamento.comite_id %>
</p>

<p>
  Meter uma zona de estatisticas
  Possui <%= @recrutamento.candidatos.count %> Candidatos<br>

  Possui   <%= @counter.visitas %> visitas
</p>
<%= @recrutamento.viewEinscricoes(@counter) %>
<p>
  Formúlario possui  <%= @recrutamento.formulario.pergunta_forms.count %> Perguntas
</p>




<div class="row">
        <div class="span13">
          <div class="tabbable">
            <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">Candidatos</a></li>
            <li><a href="#2" data-toggle="tab">Formulários</a></li>
             <li><a href="#3" data-toggle="tab">Estatisticas</a></li>
            </ul>
                <div class="tab-content">
                <div class="tab-pane active" id="1">
                  <%= render "candidatos",collection: @candidatos %>
                </div>
                <div class="tab-pane" id="2">
                  <%= render "formulario",collection: @recrutamento.formulario %>
                </div>  

                 <div class="tab-pane" id="3">
                    <%= high_chart("my_id111", @h ) %>
                </div>    
            </ul>
          </div>
        </div>
      </div>
</div>


  <%= link_to_function "Candidatos", "$('#candidatos_recrut').slideToggle();",:class =>'btn btn-primary' %><br><br>
  <div id="candidatos_recrut">
   <%= render "candidatos",collection: @candidatos %>
  </div>
  <%= link_to_function "Formulários", "$('#formulario_recrut').slideToggle();",:class =>'btn btn-primary' %><br><br>
  <div id="formulario_recrut">
    <%= render "formulario",collection: @recrutamento.formulario %>
  </div>

  <%= link_to_function "Estatisticas", "$('#stats_recrut').slideToggle();",:class =>'btn btn-primary' %><br><br>
  <div id="stats_recrut">
       <%= high_chart("my_id11", @h ) %>
  </div>

<br />