<ul class="breadcrumb">
              <li><a href="index.html">Home</a> <span class="divider">/</span></li>
              <li class="active">Recrutamento</li>
</ul>

<h1>Recrutamento <%= tipoToString( @recrutamento.tipo ) %></h1>
<h3> Criado há <%=  time_ago_in_words(@recrutamento.created_at)  %> </h3>

<p>
  <b>Inicio: </b>
  <%= @recrutamento.created_at %><P>
  <b>Estado</b> : <%= @recrutamento.estado %><p>

  <b>Pertence ao Comite </b><%= @recrutamento.comite_id %>
</p>

<p>
  Meter uma zona de estatisticas
  Possui <%= @recrutamento.candidatos.count %> Candidatos
</p>

<p>
  Formúlario possui  <%= @recrutamento.formulario.pergunta_forms.count %> Perguntas
</p>


  <%= link_to_function "Candidatos", "$('#candidatos_recrut').slideToggle();",:class =>'btn btn-primary' %><br><br>
  <div id="candidatos_recrut">
   <%= render "candidatos",collection: @candidatos %>
  </div>
  <%= link_to_function "Formulários", "$('#formulario_recrut').slideToggle();",:class =>'btn btn-primary' %><br><br>
  <div id="formulario_recrut">
    <%= render "formulario",collection: @recrutamento.formulario %>
  </div>

  <%= link_to_function "Estatisticas", "$('#stats_recrut').slideToggle();",:class =>'btn btn-primary' %><br><br>
  <div id="stats_recrut">
      <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
  </div>

<br />