        <div class="header">
            
            
        <h1 class="page-title">Comites</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Comites</li>
        </ul>



<div class="container-fluid">     
   <form id="tab">
      <div class="well">        
            <table class="table">
              <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Morada</th>
                <th>Email ocp</th>
                <th></th>
                <th></th>
              </tr>

            <% @comites.each do |comite| %>
              <tr>
                <td><%= comite.nome %></td>
                <td><%= comite.descricao %></td>
                <td><%= comite.email %></td>
                <td><%= comite.telefone %></td>
                <td><%= comite.morada %></td>
                <td><%= comite.email_ocp %></td>

                <td><%= link_to 'Ver', comite %></td>
                 <% if isAdmin? %> 
                    <td><%= link_to 'Edit', edit_comite_path(comite) %></td>
                 <% end %> 
              </tr>
            <% end %>
            </table>

            <br />
            <% if isAdmin? %>
             <%= link_to 'New Comite', new_comite_path %>
            <% end %>
