  <div class="header">
            
        <h1 class="page-title">Inscrições</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="#">AIESEC in Minho</a> <span class="divider">/</span></li>
            <li class="active">Gerir Inscrições</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
            </div>
        
	 <form id="tab">
      <div class="well">
          <div class="alert alert-block">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    
		    Atenção que a epoca oficial ainda não começou!
		  </div>
       <label>Data de abertura oficial AIESEC: 20-03-2012</label>
       
        <table class="table">
              <thead>
                <tr>
                  <th>Insrciçoes</th>
                  <th>Membros</th>
                  <th>Estágio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>AIESEC Minho</td>
                  <td><%= insc_abertas?( @comite.inscricao_activa?(1) ) %></td>
                  <td><%= insc_abertas?( @comite.inscricao_activa?(2) ) %></td>
                </tr>
              </tbody>
        </table>

<div class="row-fluid">

 <div class="block span6">
        <a href="#tablewidget1" class="block-heading" data-toggle="collapse">Membros</a>
        <div id="tablewidget1" class="block-body collapse in">
        <div class="widget">
                        <h3></h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                           <a href="/abrir_recrutamento?tipo=1"  class="shortcut" data-confirm="Tem a certeza que pretende abrir um novo recrutamento?">
                                <i class="shortcut-icon icon-list-alt"></i>
                                <span class="shortcut-label">Abrir Recrutamento Membros</span>
                            </a>
                            <a href="/abrir_inscricoes?tipo=1" class="shortcut <%= 'disabled' if @recrutamento.recrutamento_activo(1).nil? %>" data-confirm="Tem a certeza?">

                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Abrir Inscrições Membros</span>
                            </a>


                            <a href="/fechar_inscricoes?tipo=1" class="shortcut <%= 'disabled' if @comite.inscricao_activa?(1) == false %>" data-confirm="Tem a certeza?">
                                <i class="shortcut-icon icon-off"></i>
                                <span class="shortcut-label">Fechar Inscricoes Membros</span>
                            </a>
                            
            
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->
        </div>

        <div class="block span6">
        <a href="#tablewidget2" class="block-heading" data-toggle="collapse">Estágios</a>
        <div id="tablewidget2" class="block-body collapse in">
        <div class="widget">
                        <h3></h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                           <a href="/abrir_recrutamento?tipo=2"  class="shortcut" data-confirm="Tem a certeza que pretende abrir um novo recrutamento?">
                                <i class="shortcut-icon icon-list-alt"></i>
                                <span class="shortcut-label">Abrir Recrutamento Estágios</span>
                            </a>
                           <a href="/abrir_inscricoes?tipo=2" class="shortcut <%= 'disabled' if @recrutamento.recrutamento_activo(2).nil? %>" data-confirm="Tem a certeza?">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Abrir Inscrições Estágios</span>
                            </a>


                            <a href="/fechar_inscricoes?tipo=2" class="shortcut <%= 'disabled' if @comite.inscricao_activa?(2) == false %>" data-confirm="Tem a certeza?">
                                <i class="shortcut-icon icon-off"></i>
                                <span class="shortcut-label">Fechar Inscricoes Estágios</span>
                            </a>
                            

            
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->
        </div>
  </div>
	
	
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>