
    <!-- Forms
    ================================================== -->
    <section id="forms">
      <div class="page-header">
        <h1>Survey <%= @comite.nome %> para <%= tipoToString( @formulario.tipo ) %> </h1>
        <div class="fb-like" data-href="http://aiesec.pt/apply/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend" data-font="arial"></div>

      </div>

     

      <!-- **********************************INFO PRE-VISUALIZACAO**********************************-->
      <div class="row" id="info_form">
        <div class="span3 offset1">
          <div class="well">
           <span class="label label-warning">Modo de Pré-visualização</span><br><br>

           Nº de Perguntas <span class="label label-success"><%= @perguntas_form.count %></span><br><br>

           <% path = getPathFormulario(@formulario.tipo) %>
         
           <%= link_to "Voltar",path+"/"+@comite.id.to_s ,:class=>"btn btn-primary" %>
        
        </div>
      </div>
      </div>
       <!-- **********************************INFO PRE-VISUALIZACAO END**********************************-->


      <div class="row">
        <div class="span10 offset1">

          <div class="well">

            <%= form_for(:respostas,:html => {:class=>"form-horizontal ",:onsubmit=>"return ;"} ) do |f| %>

            <fieldset>
            <!-- **********************************perguntas obrigatorias**********************************-->
              <div class="control-group">
                    <label class="control-label" >Nome*</label>
                    <div class="controls">
                      <input type="text" name="respostas[nome]" placeholder="Nome" required="required">
                      <p class="help-block"></p>
                    </div>
               </div>

                <div class="control-group">
                    <label class="control-label" >Telemovel*</label>
                    <div class="controls">
                      <input type="text" name="respostas[telemovel]" placeholder="Telemovel" required="required">
                      <p class="help-block"></p>
                    </div>
               </div>

               <div class="control-group">
                    <label class="control-label" >Data de Nascimento*</label>
                    <div class="controls">

                      <input type="text" name="respostas[data_nascimento]" placeholder="ex 19/09/1990" class="datepicker" required="required">
                      <p class="help-block"></p>
                    </div>
               </div>

               <div class="control-group">
                    <label class="control-label" >Email*</label>
                    <div class="controls">

                      <input type="text" name="respostas[email]" placeholder="exemplo@gmail.com" required="required">
                      <p class="help-block"></p>
                    </div>
               </div>

              
              <legend>Questionário</legend>
               <% @perguntas_form.each do |p| %>
                  <% pergunta = p.perguntum %>

                  <div class="control-group">
                    <label class="control-label" >
                      <%= pergunta.titulo %>
                      <%= e_obrigatoria?(p.obrigatoria) %><!--verifica se é obrigatoria-->
                    </label>
                    <div class="controls">
                      <%= tipo_input(pergunta.tipo,"de",p.obrigatoria) %>
                      <input type="hidden" name="respostas[id][]" placeholder="Resposta" value="<%= pergunta.id %>">
                      <!--<input type="text" name="respostas[resposta][]" placeholder="Resposta" >-->
                      <p class="help-block"><%= pergunta.descricao %> </p>
                    </div>
                  </div>
               <% end %>


               
            </fieldset>


        <%end %>

        <!-- **********************************fim do formulario**********************************-->
        </div>
      </div>
      </div>

    </section>