<div class="header">
     <h1 class="page-title">Perfil Comité</h1>
</div>
        
         <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Perfil Comité</li>
        </ul>

<div class="well">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Perfil</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active in" id="home">
      
        <% if @comite.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comite.errors.count, "error") %> prohibited this comite from being saved:</h2>
            <ul>
            <% @comite.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
     </div>

<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @comite.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @comite.descricao %>
</p>

<p>
  <b>Email:</b>
  <%= @comite.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @comite.telefone %>
</p>

<p>
  <b>Morada:</b>
  <%= @comite.morada %>
</p>

<p>
  <b>Email ocp:</b>
  <%= @comite.email_ocp %>
</p>



<div class="row-fluid">


      <div class="block span6">
        <a href="#tablewidget" class="block-heading" data-toggle="collapse">Estados do Comité para Estágios:<span class="label label-warning"></span></a>
        <div id="tablewidget" class="block-body collapse in">
           <p>
            <% if @estados_estagios.blank? %>
              <h1>Não Existem Estados Definidos</h1>
            <% else %>
              <%= render partial: "estado_recrut/estados",:locals => { :estados => @estados_estagios} %>
            <% end %>
            <%= link_to "AddEstadoE", "#myModalEstadoE", "data-toggle" => "modal",:class=>"btn" %>
          </p>
        </div>
    </div>

    
    <div class="block span6">
        <a href="#tablewidget1" class="block-heading" data-toggle="collapse">Estados do Comité para Membros:</a>
        <div id="tablewidget1" class="block-body collapse in">
        <!--estados para membros-->
          <p>
            <b></b>
            <% if @estados_membros.blank? %>
              <h1>Não Existem Estados Definidos</h1>
            <% else %>
              <%= render partial: "estado_recrut/estados",:locals => { :estados => @estados_membros} %>
            <% end %>
            <%= link_to "AddEstadoM", "#myModalEstadoM", "data-toggle" => "modal",:class=>"btn" %>

          </p>
        <!--estados para estagios-->
                    
          </div> <!-- /widget -->
        </div>
 </div>

<!--estados para estagios-->

<!--estados para estagios-->

 <%= link_to_function "Estátisticas", "$('#stats_recrut').slideToggle();",:class =>'btn' %><br><br>
  <div id="stats_recrut">
     <%= high_chart("my_id1", @h ) %>
     <%= high_chart("my_id", @h1 ) %>
  </div>

<%= link_to 'Edit', edit_comite_path(@comite) ,:class=>'btn'%>



 <!-- Modal EstadoMembros-->
<div id="myModalEstadoM" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Novo Estado</h3>
    </div>
    <div class="modal-body">
       <%= render partial:'estado_recrut/form' ,:locals =>{ :comite_id => @comite.id,:tipo =>1 }%>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <button class="btn btn-primary" name="commit" value="Mudar Estado"><i class="icon-save"></i> Mudar Estado</button>
    </div>
  </div>


 <!-- Modal EstadoEsatgios-->
<div id="myModalEstadoE" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Novo Estado</h3>
    </div>
    <div class="modal-body">
       <%= render partial:'estado_recrut/form',:locals =>{ :comite_id => @comite.id,:tipo => 2 } %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <button class="btn btn-primary" name="commit" value="Mudar Estado"><i class="icon-save"></i> Mudar Estado</button>
    </div>
  </div>
