<%= form_for(@pergunta_form) do |f| %>
  <% if @pergunta_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pergunta_form.errors.count, "error") %> prohibited this pergunta_form from being saved:</h2>

      <ul>
      <% @pergunta_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ordem %><br />
    <%= f.number_field :ordem,value:get_ultima_ordem(@formulario.id) %>
  </div>
  <div class="field">
    <%= f.label :obrigatoria %><br />
    <%= f.check_box :obrigatoria %>
  </div>

  <div class="field">
    <%= f.label :formulario_id %><br />
    <%= f.number_field :formulario_id,value:@formulario.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
