<div class="container-fluid">
      <div class="well">

          <h1>Listing estados</h1>

          <table class="table table-striped">
            <tr>
              <th></th>
              <th>Nome</th>
              <th>Data</th>
              <th>Descricao</th>
              <th>Responsavel</th>
              <th>Ultima Actualização</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @estados.each do |estado| %>
            <tr>
              <td class="show" id="<%= estado.id %>"><%= link_to "VER", "#myModalEstadoPrevis", "data-toggle" => "modal" %></td>
              <td><%= estado.nome %></td>
              <td><%= estado.data %></td>
              <td><%= estado.descricao %></td>
              <td><%= estado.responsavel %></td>
              <td><%= l estado.updated_at ,:format => :time %></td>
              <td><%= link_to 'Show', estado %></td>
              <td><%= link_to 'Edit', edit_estado_path(estado) %></td>
              <td><%= link_to 'Destroy', estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </table>

          <br />
      </div>
    </div>

 <!-- Modal ESTDO-->
<div id="myModalEstadoPrevis" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Novo Estado</h3>
    </div>
    <div id="modal-bodyEstado">
       
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <button class="btn btn-primary" name="commit" value="Mudar Estado"><i class="icon-save"></i> Mudar Estado</button>
    </div>
  </div>