        <div class="header">
            
         <div class="stats">
                <% @estados_recrut.each do |e| %>
                  <p class="stat">
                    <span class="number"><%= Candidato.candidatos_estado(@candidatos,e.nome) %></span>
                    <%= e.nome %>
                  </p>
                <% end %>
                <p class="stat"><span class="number"><%= @candidatos.count %></span>Inscritos</p>
            
         </div>
            
        <h1 class="page-title">Estágiarios</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Users</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
              <div class="btn-toolbar">

                <% path = getPathSearch %>

                <%= form_tag path , :method => 'get'  ,:class => 'form-inline', :id=>'candidatos_search' do  %>
                       
                    <%= text_field_tag :search, params[:search], :class =>"span3 search-input",:placeholder => "Pesquisa...",:autocomplete=>"off" %>

                    <label class="naLinha"></label>
                    <%= select_tag(:field, options_for_select([['Nome', 1], ["Estado",2]]) ) %>
                      
                 <% end %>
                  
                </div>

                  <div id="candidatos_lista">
                    <%= render :partial => 'candidatos' %>
                  </div>
                  
                  <div class="paginate">
                    <%= will_paginate @candidatos, :inner_window => 2 %>
                    <% if params[:page] != "all" %>
                      <%= link_to "Ver todos", candidatos_membros_path(:page => "all"),:class=>"btn" %>
                    <% end %>
                  </div>

            </div>




    
