        <div class="header">
            
         <div class="stats">
                <p class="stat"><span class="number">10</span>Aceites</p>
                <p class="stat"><span class="number">30</span>Contactados </p>
                <p class="stat"><span class="number">15</span>Intermédio</p>
                <p class="stat"><span class="number"><%= @candidatos.count %></span>Inscritos</p>
            
         </div>
            
        <h1 class="page-title">Estágiarios</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Users</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">

  <% path = getPathSearch %>

  <%= form_tag path , :method => 'get'  ,:class => 'form-inline', :id=>'candidatos_search' do  %>
         
      <%= text_field_tag :search, params[:search], :class =>"span3 search-input",:placeholder => "Pesquisa...",:autocomplete=>"off" %>

      <label class="naLinha"></label>
      <%= select_tag(:field, options_for_select([['Nome', 1], ['Data', 2], ["Estado",3]]) ) %>
        
   <% end %>
    
  </div>

    <div id="candidatos_lista">
      <%= render :partial => 'candidatos' %>
    </div>

    <div class="paginate">
      <%= will_paginate @candidatos, :inner_window => 2 %>
    </div>




    
