          
<ul class="breadcrumb">
      <li><a href="index.html">Home</a> <span class="divider">/</span></li>
      <li class="active">Perfil Candidato</li>
</ul>


<p id="notice"><%= notice %></p>



  <!-- verifica se tem algum estado, se tiver mostra-->
        
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
      <li class="active"><a href="#pane1" data-toggle="tab">Info</a></li>
      <li><a href="#pane2" data-toggle="tab">Respostas</a></li>
      <li><a href="#pane3" data-toggle="tab">Estados</a></li>

  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
      

          <div class="span6 well" >
                  <table class="table table-striped table-condensed">
                      <tbody><tr>
                          <td><h6>Nome:</h6></td>
                          <td><i class="icon-user"></i> <%= @candidato.nome %></td>
                      </tr>
                      <tr>
                          <td><h6>Telemovel:</h6></td>
                          <td><i class="icon-home"></i> <%= @candidato.telemovel %></td>
                      </tr>
                      <tr>
                          <td><h6>Email:</h6></td>
                          <td><i class="icon-envelope"></i> <%= @candidato.email %></td>
                      </tr>
                      <tr>
                          <td><h6>Idade:</h6></td>
                          <td><i class="icon-headphones"></i> <%= age(@candidato.data_nascimento) %> Anos</td>
                      </tr>
                      
                      <tr>
                          <td><h6>Data Registo:</h6></td>
                          <td><i class=" icon-calendar"></i> <%= @candidato.created_at.strftime('%d %b') %>(<%=  time_ago_in_words(@candidato.created_at) %>)</td>
                      </tr>
                  </tbody></table>
          </div>


          <div class="span4">
                          <div id="reports" class="well">
                              <h3 class="modal-header"> Registou-se há <%=  time_ago_in_words(@candidato.created_at)  %></h3>
                                <% if  !@candidato.estados.last.nil? %>
                                    <p>
                                        <b>Estado Actual</b>
                                        <span title="Alterar Estado" class="label label-success">
                                          <%= @candidato.estados.first.nome %>
                                        </span>
                                    </p>
                                  <% else %>
                                    <p>
                                      <b>Estado Actual</b>
                                      <span title="Alterar Estado" class="label label-warning">
                                            Não contactado
                                      </span>
                                    </p>
                                  <% end %>


                          <ul class="nav nav-list">
                              <li>
                              <div class="alert alert-info no-reports">
                                 <p class="list-item"><b>Ultima actualização:</b><%= getUltimoUpdate %> </p>
                                
                              </div>
                            </li>
                          </ul>
                      </div>
              </div>
    </div>

     <div id="pane2" class="tab-pane">
      <%= render 'respostas' %>
    </div>

     <div id="pane3" class="tab-pane">
        
        <div class="row">
                <div class="span13">
                  <div class="tabbable">
                    <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">Estados</a></li>
                    <li><a href="#2" data-toggle="tab">Estatistica</a></li>
                    </ul>
                        <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <%= render 'estados', collection: @estados %>
                        </div>
                        <div class="tab-pane" id="2">
                           
                        </div>    
                    </ul>
                  </div>
                </div>
              </div>
        </div>

    </div>


</div>



 <div class="btn-toolbar">
          <a href="#myModalEstado" data-toggle="modal" class="btn"><i class="icon-plus"></i>Novo Estado</a>
</div>







<%= link_to 'Edit', edit_candidato_path(@candidato) %> |
<%= link_to 'Back', candidatos_path %>



 <!-- Modal ESTDO-->
<div id="myModalEstado" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Novo Estado</h3>
    </div>
    <div class="modal-body">
       <%= render :partial=>'estados/form' , :locals => { :candidato => @candidato.id } %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
