<% if @formulario.nil? %>
    <div class="well">
      <%= @comite.nome %>
        Obrigada pelo teu interesse em te juntares à AIESEC.
        De momento, as inscrições encontram-se fechadas!
        Para mais informações contacta-nos pelo mail: 
        <%= @comite.email%><br>

    <%= form_for(:respostas, :url => {:action => 'guardar_cand_fora_epoca',:controller => 'candidatos',:id=>@comite.id,:tipo =>params[:cenas][:tipo]},:html => {:class=>"form-horizontal ",:name =>"survey_form",:id =>"survey_form"} ) do |f| %>
        <fieldset>
            <!-- **********************************perguntas obrigatorias**********************************-->
              <div class="control-group">
                    <label class="control-label" >Nome*</label>
                    <div class="controls">
                      <input type="text" name="respostas[nome]" placeholder="Nome" required="required" id="nome_survey">
                      <!-- <em id="nome_surveyEM"></em> -->
                    </div>
               </div>

                <div class="control-group">
                    <label class="control-label" >Telemovel*</label>
                    <div class="controls">
                      <input type="text" name="respostas[telemovel]" placeholder="Telemovel" required="required" id="telemovel_survey">
                      <!-- <em id="telemovel_surveyEM"></em> -->
                      
                    </div>
               </div>

               <div class="control-group">
                    <label class="control-label" >Data de Nascimento*</label>
                    <div class="controls">

                      <input type="date" name="respostas[data_nascimento]" placeholder="ex 19/09/1990" class="datepicker" required="required" id="dta_survey" >
                      <!-- <em id="dta_surveyEM" class="error-input"></em> -->
                      
                    </div>
               </div>

               <div class="control-group">
                    <label class="control-label" >Email*</label>
                    <div class="controls">

                      <input type="text" name="respostas[email]" placeholder="exemplo@gmail.com" required="required" id="email_survey">
                      <!-- <em id="email_surveyEM"></em> -->
                    </div>
               </div>
          </fieldset>


            <div class="form-actions">
              <%= f.submit "Submeter",:class=>"btn btn-primary" %>
              <button type="reset" class="btn">Cancel</button>
            </div>

            
      <% end %>
        <a href="http://aiesec.pt"> Voltar</a>
    </div>
<% else %>

    <!-- Forms
    ================================================== -->
    <section id="forms">
      <div class="page-header">
        <h1>Survey <%= @comite.nome %> para <%= tipoToString( @formulario.tipo) %></h1>
        <div class="fb-like" data-href="http://aiesec.pt/apply/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend" data-font="arial"></div>

      </div>

      <div class="row">
        <div class="span10 offset1">

          <div class="well">

            <%= form_for(:respostas, :url => {:action => 'guardar_survey',:controller => 'candidatos',:id=>@comite.id,:tipo=> @formulario.tipo},:html => {:class=>"form-horizontal ",:id =>"survey_form"} ) do |f| %>

            <fieldset>
            <!-- **********************************perguntas obrigatorias**********************************-->
              <div class="control-group">
                    <label class="control-label" >Nome*</label>
                    <div class="controls">
                      <input type="text" name="respostas[nome]" placeholder="Nome" required="required" id="nome_survey">
                      <!-- <em id="nome_surveyEM"></em> -->
                    </div>
               </div>

                <div class="control-group">
                    <label class="control-label" >Telemovel*</label>
                    <div class="controls">
                      <input type="text" name="respostas[telemovel]" placeholder="Telemovel" required="required" id="telemovel_survey">
                      <!-- <em id="telemovel_surveyEM"></em> -->
                      
                    </div>
               </div>

               <div class="control-group">
                    <label class="control-label" >Data de Nascimento*</label>
                    <div class="controls">

                      <input type="date" name="respostas[data_nascimento]" placeholder="ex 19/09/1990" class="datepicker" required="required" id="dta_survey" >
                      <!-- <em id="dta_surveyEM" class="error-input"></em> -->
                      
                    </div>
               </div>

               <div class="control-group">
                    <label class="control-label" >Email*</label>
                    <div class="controls">

                      <input type="text" name="respostas[email]" placeholder="exemplo@gmail.com" required="required" id="email_survey">
                      <!-- <em id="email_surveyEM"></em> -->
                    </div>
               </div>

              
              <legend>Questionário</legend>
               <% @perguntas_form.each do |p| %>
                  <% pergunta = p.perguntum %>

                  <div class="control-group">
                    <label class="control-label" >
                      <%= pergunta.titulo %>
                      <%= e_obrigatoria?(p.obrigatoria) %><!--verifica se é obrigatoria-->
                    </label>
                    <div class="controls">
                      <% opcoes = pergunta.opcoes.split('|') %>
                      <% cenas = tipo_input(pergunta.tipo,opcoes,p.obrigatoria,"Nome",pergunta.id) %>
                      <%= cenas %>
                     <!-- <input type="hidden" name="respostas[perguntas][id][]" placeholder="Resposta" value="<%= pergunta.id %>">-->
                      <!--<input type="text" name="respostas[resposta][]" placeholder="Resposta" >-->
                      <p class="help-block"><%= pergunta.descricao %> </p>
                    </div>
                  </div>
               <% end %>




               
            </fieldset>

            <div class="form-actions">
              <%= f.submit "Submeter",:class=>"btn btn-primary" ,:id=>"submit_form_survey"%>
              <button type="reset" class="btn">Cancel</button>
            </div>

        <%end %>

        <!-- **********************************fim do formulario**********************************-->
        </div>
      </div>
      </div>

    </section>
<% end %><!-- fim do else -->


 <!-- Modal ESTDO-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Novo Estado</h3>
    </div>
    <div class="modal-body">
       
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <button class="btn btn-primary" name="commit" value="Mudar Estado"><i class="icon-save"></i> Mudar Estado</button>
    </div>
  </div>