<div class="container-fluid">
      <div class="well">

          <table id="sortableEstados" class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Nome</th>
                <th></th>
                <th></th>
              </tr>
          </thead>
          <tbody>
          <% estados.each do |estado| %>
            <tr id="<%= estado.id %>" class="handle">
              <td><%= estado.ordem %></td>
              <td><%= estado.nome %></td>
              <td><%= link_to 'Edit', edit_estado_recrut_path(estado) %></td>
              <td><%= link_to 'Destroy', estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
       </table>
          <br />
      </div>
    </div>
