<div class="container-fluid">
      <div class="well">

          <table id="sortableEstados" class="table table-striped sortable <%= tipo == 1 ? 'membros' : 'estagio' %>">
            <thead>
              <tr>
                <th></th>
                <th>Nome </th>
                <th></th>
                <th></th>
              </tr>
          </thead>
          <tbody>
          <% estados.each do |estado| %>
            <tr id="<%= estado.id %>" class="handle">
              <td><%= estado.ordem %></td>
              <td><%= estado.nome %></td>
              <% if comite_id == current_comite.id %>
                <td><%= link_to 'Editar', edit_estado_recrut_path(estado) %></td>
                <td><%= link_to 'Remover', estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
       </table>
          <br />
      </div>
    </div>
