<%= form_for(@estado_recrut, :url => {:action => 'create_estado',:controller => 'estado_recrut',:id=>current_comite.id}) do |f| %>
  <% if @estado_recrut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_recrut.errors.count, "error") %> prohibited this comite from being saved:</h2>

      <ul>
      <% @estado_recrut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    
    <%= f.hidden_field :comite_id,value: comite_id %>
  </div>

  <div class="field">
   
    <%= f.hidden_field :tipo ,:value=> tipo %>
  </div>


  <div class="field">
  
    <%= f.hidden_field :ordem, value: 1  %>
  </div>

  <div class="actions">
    <%= f.submit "Criar Estado",:class=>"btn"%>
  </div>
<% end %>